Thanks @clemensv.

Based on https://www.iana.org/form/media-types:

Full Name: TBD
E-mail: TBD
Type Name: application (RFC2046)
Subtype Name: Standards Tree (no prefix) , cloudevents+json && cloudevents+batch+json
Required Parameters: None
Optional Parameters: version; ignore all other parameters
Encoding considerations: as per application/json
Security Considerations: as per RFC 6838, Section 4.6
Interoperability Considerations: as per RFC 6838, Section 4.6
Published Specification: https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/formats/json-format.md
Application Usage: HTTP
Fragment Identifier Considerations: https://github.com/cloudevents/spec/blob/v1.0.2/cloudevents/formats/json-format.md
Restrictions on Usage: None
Provisional Registrations: No
Additional Information: file extension(s): json
Intended Usage: COMMON
Other Information & Comments: None
Contact Person: TBD


...the next steps would be to address the TBD items above, and populate/submit the [form](https://www.iana.org/form/media-types).  Let me know if any clarifications are needed - thanks!

How about:
Full Name: CloudEvents Project
e-mail: cncf-CloudEvents-maintainers@lists.cncf.io
Contact Person: CloudEvents Maintainers: cncf-CloudEvents-maintainers@lists.cncf.io 

Cool! Will you send in the application?

@deissnerk if we do this can we close #557 ?

FYI request has been submitted, you should have some news soon to cncf-CloudEvents-maintainers@lists.cncf.io.  Good luck and let us know how things go.

@tomkralidis sorry if I'm just forgetting, but is there a link to the application so I can check on its progress?

@duglin perhaps [contacting them](https://www.iana.org/contact) via their General Email Contact will help (although I would have imagined a response would have come by now).

there were questions/concerns with the forms submitted so I resubmitted them with the minor tweaks... we'll see how it goes.

Done! See: http://www.iana.org/assignments/media-types

thanks @tomkralidis for helping us getting this thru!!!