clarification: CE Integer definition

The [json-format type mapping](https://github.com/cloudevents/spec/blob/v1.0/json-format.md#22-type-system-mapping) reads "Integer | [number](https://tools.ietf.org/html/rfc7159#section-6), only the `int` component is permitted". The linked number RFC reads the two parts:

- ` number = [ minus ] int [ frac ] [ exp ]`
- It contains an integer component that may be
   prefixed with an optional minus sign, which may be followed by a
   fraction part and/or an exponent part.

I believe that it is intended by CE that the `[ minus ]` is part of the "`int` component". Still think it is a bit ambiguous and may need to be clarified. Also, the [CE type system](https://github.com/cloudevents/spec/blob/v1.0/spec.md#type-system) reads "String encoding: Integer portion of the JSON Number per RFC 7159, Section 6" where "integer portion" also may or may not include the `[ minus ]` part.

Sounds about right. Want to open a PR? We're looking to release v1.0.1 - this would be a good thing to include.

I triggered to get permission from my employer to contribute to CNCF projects. If it works out, I will try to draft something up.

Closed by https://github.com/cloudevents/spec/pull/745