HTTP binary mode header mapping and header count limits

Although there should be few problems with exceeding _total byte limits_ as discovered in the nice research summary in #286, some servers also impose _limits on the number of headers_ and I am not sure this was fully considered. The default limits are 100 for apache, 60 for akka, and [HAProxy seems to be 101](https://cbonte.github.io/haproxy-dconv/1.9/configuration.html#tune.http.maxhdr).

#364 (which might not go through) is considering this limit by specifying a maximum of 100 _top-level attributes_, but the HTTP transport binding in [section 3.1.3.1](https://github.com/cloudevents/spec/blob/master/http-transport-binding.md#3131-http-header-names) specifies flattening rules for binary mode metadata (introduced in #255):

> Map-typed CloudEvents attributes MUST be flattened into a set of HTTP headers, where by the name of each header carries the prefix "ce-", an infix reflecting the map attribute followed by a dash ("-"), and the name of the map entry key, e.g. "ce-attrib-key".

According to #286, there should be somewhere around 4kb available for extensions, but I wonder if people might cram more than 75-80 (leaving some room for standard headers and core CloudEvents attributes) _total extension attributes_ in that. Especially when using a property bag (a `Map`) in a long and noisy chain of interactions introducing bits of tracking/routing info.

If we flatten as specified currently, the _top-level attribute limit_ in #364 would be leaky and we might limit property bag extensions when using HTTP as a transport. Somewhat confusingly, in [section 3.1.3.2](https://github.com/cloudevents/spec/blob/master/http-transport-binding.md#3132-http-header-values) the binding also specifies a mapping for JSON objects and arrays even though `Map` (JSON object?) is flattened and arrays are not even supported in the core spec type system, so I guess this was a guidance for extensions? Though confusing right now, it could be used as a base for switching to `Map` being formatted as JSON in the header value.

> `JSON objects and arrays are NOT surrounded with single or double quotes.`

I guess my main questions here are whether this line of thinking makes sense to others and whether someone sees _inherent value in flattening Maps instead of using something like JSON objects_, due to e.g. compatibility or parser issues? The size impact of something like JSON compared to flattened headers should be minimal, as flattening includes its own overhead (the `ce-` prefix, `-` key separator and `:<space>` before value)

To make things even worse, it's not clear on the receiving side how one would determine that a set of headers in binary format are actually part of a map-style extension, though I suppose that one could assume that the extension name does not contain a "-" character. (Which is what I'm doing at the moment; a quick look at the Binary encoding in JavaScript, Go, and Python suggests that *all of these implementations* are not following the spec with respect to map-value extension fields.)

Given that 3/3 surveyed canonical implementations are not following the spec, I wonder if this (extension encoding to headers) has been made too hard, and that extension attributes should not be allowed to be maps/objects at all.

> though I suppose that one could assume that the extension name does not contain a "-" character

Yes, this issue: https://github.com/cloudevents/spec/issues/265 was addressed with https://github.com/cloudevents/spec/pull/321 (only allowing lowercase letters). So the "-" is only used as a map separator.

> Given that 3/3 surveyed canonical implementations are not following the spec

I agree that this is concerning. We also have this issue: https://github.com/cloudevents/spec/issues/239 Given all the edge cases with the HTTP Binary mode, I don't know if we should really require support for it.

Since we're "just" binding a payload and metadata to HTTP, there's nothing unique we introduce here. The problems you're enumerating apply to all applications of HTTP on the respecively constrained servers/clients (which is typically user-configurable to make matters worse) and they are not at all CloudEvents specific. 

I agree that the concerns are real, but I'm skeptical that we're in a position to address them in our set of specs. 

The vast majority of events will comfortably fit into everyone's limits, and if you're running into a problem because you're creating your own edge case by having 50 extension attributes ... I'm not sure the spec is the place to seek professional help.

> The vast majority of events will comfortably fit into everyone's limits, and if you're running into a problem because you're creating your own edge case by having 50 extension attributes ...

I think I can live with this viewpoint.

> Given that 3/3 surveyed canonical implementations are not following the spec

This worries me as well, but on the other hand, it's not a particularly complicated thing to fix in the implementations?

I'm wondering whether it is simpler to encode a map as a (golang:) `json.Marshal`, rather than encoding each key as a separate header. This makes the implementation code in the SDK simpler (and is where I found the bug), and removes some ugly edge cases in unmarshalling extensions. Consider the following conflict in the HTTP mapping rules:

```http
POST / HTTP/1.1
Content-Type: text/xml
CE-Extension: foo
CE-Extension-Key1: bar
CE-Extension-Key2: baz
...
```

I opened #381 to collect a menagerie of examples which should be able to be used when testing various implementations.

@Tapppi is this still an issue?

I'm inclined to think that we resolve this one of two ways:
1 - leave things as they are today. It appears to work.
2 - stop treating maps differently. By that I mean, pick an encoding format for maps in http binary mode (e.g. json) and have the entire map appear as the value of the **single** http header.  I'm not sure why we should break apart this one attribute into multiple headers.

My vote would be for 2.

2. is already in the spec. 

Map - String-indexed dictionary of Any-typed values. 
String encoding: JSON Object per RFC 7159, Section 4

HTTP Binary mode explicitly doesn't do this today. I think that's probably
wrong, and we should remove the specific directive about Map values in the
HTTP spec.

On Tue, Jun 18, 2019, 12:58 AM Clemens Vasters <notifications@github.com>
wrote:

>
>    1. is already in the spec.
>
> Map - String-indexed dictionary of Any-typed values.
> String encoding: JSON Object per RFC 7159, Section 4
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/cloudevents/spec/issues/367?email_source=notifications&email_token=AB4XEN72C2JGIKNIJSN5ZS3P3CISXA5CNFSM4GPIX6FKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGODX5Q5MQ#issuecomment-502992562>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AB4XEN2SHPANOQKGYFKEA5TP3CISXANCNFSM4GPIX6FA>
> .
>


@duglin I agree with the above, the header count limit shouldn't be a problem WE have to tackle. It shouldn't be a big problem anyway if we can do 2. which means the constraint moves to top-level attributes instead of all attributes. 

I am also in favor of 2 as I think the spec has moved in a different direction with the canonical string encodings, and I don't think the special rule makes sense. 

I will try to make it to the call today, but am very busy tidying up loose ends before a vacation. Looking at the thread, it looks like resolving this issue should be quite cut and dried. 

@clemensv for 2, I was thinking we modify this from the http spec:
- - -
Map-typed CloudEvents attributes MUST be flattened into a set of HTTP headers, where by the name of each header carries the prefix "ce-", an infix reflecting the map attribute followed by a dash ("-"), and the name of the map entry key, e.g. "ce-attrib-key".
- - -


@Tapppi what's the status of this one?

@duglin I think this can be closed now, the original issue is solved by "don't be stupid with the amount of attributes you put in a message". I don't know if this even requires text in the primer, I don't think so.

The other stuff in this thread is basically a proxy for the "maps vs no maps" discussion on the call today and that already has it's own PRs/issues

ok thanks - will close.