HTTP Content-Type default value for binary events

The spec does not address how an event receiver should behave when an HTTP bound binary event is received but there is no `Content-Type` header. The [HTTP 1.1 spec](https://tools.ietf.org/html/rfc7231#section-3.1.1.5) says this about messages with no `Content-Type` header:

>   If a Content-Type header field is not present, the recipient MAY either assume a media type of "application/octet-stream" ([RFC2046], Section 4.5.1) or examine the data to determine its type.

The HTTP Protocol Binding spec says this.

> The receiver of the event can distinguish between the three modes by inspecting the Content-Type header value. If the value is prefixed with the CloudEvents media type application/cloudevents, indicating the use of a known event format, the receiver uses structured mode. If the value is prefixed with application/cloudevents-batch, the receiver uses the batched mode. Otherwise it defaults to binary mode.

So, it's fair to assume an incoming event with no `Content-Type` header is in binary mode. Perhaps the spec should be updated to specify a default when none is provided. The most common sense default is probably `application/json`.

The use case is Knative Kafka event source that sends binary events without a `Content-Type` header. Ref: https://github.com/cloudevents/sdk-javascript/issues/117


@lance this is something we already went through. Since for http is perfectly valid to don't set the content-type, if the event contains the cloudevents headers and a body then it's a binary encoded mesaage

Yup - we just added this to the http spec:
When the Content-Type header is not prefixed with the CloudEvents media type, being able to know when the message ought to be attempted to be parsed as a CloudEvent can be a challenge. While this specification can not mandate that senders do not include any of the CloudEvents HTTP headers when the message is not a CloudEvent, it would be reasonable for a receiver to assume that if the message has all of the mandatory CloudEvents attributes as HTTP headers then it's probably a CloudEvent. However, as with all CloudEvent messages, if it does not adhere to all of the normative language of this specification then it is not a valid CloudEvent.

@duglin @slinkydeveloper thanks! I should have looked at `master` before submitting this. Closing.