Clarify HTTP header encoding/decoding rules

The [HTTP protocol binding spec](https://github.com/cloudevents/spec/blob/v1.0.1/http-protocol-binding.md#3132-http-header-values) states:

> String values MUST be percent-encoded as described in [RFC3986, section 2.4](https://tools.ietf.org/html/rfc7230#section-3) before applying the header encoding rules described in
[RFC7230, section 3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6).

I'm finding it confusing to implement this appropriately and rigorously in the C# SDK.

To start with, I find it a little odd that we're referring to a URI-specific RFC, when the values being encoded are arbitrary strings, not necessarily URIs. This immediately presents a problem when referring to RFC 3986 section 2.4, which starts: 

> Under normal circumstances, the only time when octets within a URI are percent-encoded is during the process of producing the URI from its
> component parts.  This is when an implementation determines which of the reserved characters are to be used as subcomponent delimiters
> and which can be safely used as data.  Once produced, a URI is always in its percent-encoded form.

If I have an attribute value of `"xyz:abc://:123//"` (which looks a bit URI-like, but may not have any relation to real URIs), do the colons and slashes need escaping in that? I think it would be helpful to specify the encoding and decoding requirements entirely separately from URI encoding, even if we still end up using a percent-encoding scheme (which we'd need to for consistency, of course).

Ideally, I'd like to see some conformance tests here - including for values containing double quotes and commas, which could make the second part of the encoding (the HTTP-specific part) interesting. Effectively a list of examples with:

- Original canonical string representation of the CE attribute
- Percent-encoded (ASCII-only) text
- On-the-wire header value (complete with quoting etc where necessary)

If such conformance tests already exist somewhere, please let me know :)

I've added this to the agenda for tomorrow's call.
I think we did this because of the sentence right before what you quoted:
```
Some CloudEvents metadata attributes can contain arbitrary UTF-8 string content, and per RFC7230,
section 3, HTTP headers MUST only use printable characters from the US-ASCII character set...
```
and so in order to bring everything into the valid range of printable characters we need to have some
escaping rules and URI encoded seemed as good as anything else - trying to not reinvent the wheel.

Can you make the call tomorrow?

Completely agree that we need to encode non-ASCII characters (and any ASCII characters required to avoid ambiguity). Something as simple as "percent-encode every non-ASCII character, as well as these specific characters" (whatever "those specific characters" might be - obviously including percent). I would suggest we try to make sure that the rules *don't* include percent-encoding colon, forward-slash or question-mark, as otherwise URI attribute values will be really ugly.

I think I *can* make the call this evening - I'll endeavour to do so. I doubt that I have much more to contribute than what I've already pointed out, mind you - so if I can't make it after all, I'll happily just catch up with the results.

yup the "ugly factor" is something I thought about last night, but I think the only way around that is to define our own rules. Obviously possible, but then it's more work for people since they can't just use a standard library that's probably already accessible to them - and error prone.  Pain either way.

I'd be curious to know if those decoding libraries would just ignore non-escaped chars and pass them along. Meaning... if people cheated and only % encoded some of what they should if things would just work anyway :-) 

I suspect it will very much depend on the library - which is part of the problem with using URI-based libraries, in my experience. I don't know whether it's due to the URI RFCs not being terribly clearly written, or whether it's an approach of being liberal with what's accepted, but my experience suggests we won't get very consistent results. Maybe I'm wrong though :)

To my mind the "more work" argument will depend on how simple we can make it. I *hope* it can be really quite simple... but I'm concerned about compatibility with existing CloudEvent providers and consumers.

On the March 4th call @jskeet and @dazuma agreed to chat and come back with a proposal.

Some work has been done, but no proposal will be ready for this week's meeting. I hope to have something for next week.